
#a1p {
 height: 600px;
 width: 800px; 
 display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-areas:
"header header header header header header" 
"header header header header header header"
"footer footer footer footer footer foooter"
}






#header {
grid-area: header;
background-color: red;

}

#footer{
grid-area: footer;
background-color: purple;




}
